{
    "env": {
        "es": {
            "presets": [["zillow", { "modules": false }]]
        }
    },
    "presets": ["zillow"],
    "plugins": [
        [
            "styled-jsx/babel",
            {
                "plugins": [
                    "styled-jsx-plugin-postcss"
                ]
            }
        ]
    ]
}